.main {
  width: 80%;
  min-height: 70vh;
  margin: 2rem auto;
  @media screen and (width <= 669.98px) {
    width: 95%;
    margin: 10px auto;
  }
}

a {
  margin-left: 1em;
  text-decoration: none;
}

.search-bar {
  width: 100%;
}

.title,
.p {
  margin-top: 0;
  margin-bottom: 5px;
}

.statistic {
  margin-top: 2rem;
}

.img {
  width: 100%; /* 宽度充满父容器 */
  object-fit: cover; /* 填充模式，裁剪多余部分 */
}
