<header>
  <nav class="navbar" aria-label="Top toolbar">
    <button mat-button class="brand-button" routerLink="/" aria-label="Home">
      <app-logo class="navbar-logo" matButtonIcon />
      G4Vista
    </button>
    <div class="navbar-primary">
      @for (section of sections; track section.route) {
        <a mat-button class="navbar-items" [routerLink]="section.route" routerLinkActive="selected">
          <mat-icon>{{ section.icon }}</mat-icon>
          {{ section.name }}
        </a>
      }
    </div>
    <div class="flex-spacer"></div>

    <div class="navbar-actions">
      <button
        mat-icon-button
        (click)="toggleTheme()"
        aria-label="Toggle theme"
        class="theme-button"
      >
        <mat-icon class="icon">{{ theme() }}</mat-icon>
      </button>
    </div>
  </nav>
  <nav class="navbar small-screen" aria-label="Section Nav Bar">
    @for (section of sections; track section.route) {
      <a mat-button class="navbar-link" [routerLink]="section.route" routerLinkActive="selected">
        <mat-icon>{{ section.icon }}</mat-icon>
        {{ section.name }}
      </a>
    }
  </nav>
</header>

<router-outlet />
<app-help-tour-overlay />
@if (showFooter()) {
  <footer class="footer">
    <div class="footer-left">
      <app-logo class="logo" />
      <a href="https://bioinfo.med.niigata-u.ac.jp/" target="_blank">Medical AI Center</a>
    </div>
    <div class="footer-right">
      <div>
        <span>Powered by Medical AI Center ©2013-{{ year }}.</span>
        <a href="https://opensource.org/license/mit" target="_blank"
          >Code licensed under an MIT-style License.</a
        >
        <span>Documentation licensed under CC BY 4.0.</span>
      </div>
    </div>
  </footer>
}
