<header class="header-background" aria-label="Get started" id="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1 text-shadow">G4 Vista</h1>
      <h2 class="text-shadow">query quadruplex forming G-rich sequences in nucleotide sequences</h2>
    </div>
  </div>
  <app-logo class="homepage-logo" />
</header>
<main class="homepage-promo">
  <div class="homepage-row introduction">
    <div class="homepage-row-column">
      <h2 class="text-shadow">How to use G4Vista</h2>
      <p>The best way to start is to chose your interested option in the nav bar.</p>
      <p>If you want to look G4 ...</p>
    </div>
    <div class="homepage-row-column">
      <h2 class="text-shadow">Why G4Vista</h2>
      <p>
        Provide tools that help users build their own custom results with common interaction
        patterns.
      </p>
      <p>Customizable within the bounds of the Design specification.</p>
    </div>
    <div class="homepage-row-column">
      <h2 class="text-shadow">What is G4Vista</h2>
      <p>Built by the Medical AI Center to integrate seamlessly with JBrose.</p>
      <p>
        This database includes graphical representations of G4 density, showcasing variations across
        different window sizes and G4 patterns.
      </p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="homepage-carousel-row">
    <div class="homepage-header">
      <h2>Featured Function</h2>
    </div>
  </div>
</main>
